﻿<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="~/assets/images/cliniclogo.png" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="Samson Fiado">
    <meta name="viewport" content="width=device-width" />
    <title>Patient Management System</title>
    <!-- Main Styles -->
    @Styles.Render("~/Content/mycss")

    <!-- Adding your custom style -->
    @RenderSection("style", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/myscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
