﻿<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/cliniclogo.png" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="Samson Fiado">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

    <title>Patient Management Task</title>
    <!-- Main Styles -->
    @Styles.Render("~/Content/mycss")
    <script src="~/assets/scripts/Angular.min.js"></script>

    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />

    <!-- Adding your custom style -->
    @RenderSection("style", required: false)
    @RenderSection("datepicker_style", required: false)
</head>
<body ng-app="EB">

    @*<div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/assets/images/loader-1.gif" width="48" height="48" alt="CHAI"></div>

            </div>
        </div>*@

    <br />
    <br />
    <br />

    <div>

        <header class="fixed-header">
            <div class="pull-left">
                <div class="logo">
                    <img src="~/assets/images/cliniclogo.png" alt="" style="height:25%;width:25%">
                </div>

            </div>
            <section id="login">
                <form action="~/Home/Logout" id="logoutForm" method="post">
                    <div class="userinfo Fiado">

                        <div>
                            Welcome! <b>
                                <a href="#" title="My Account">
                                    @Session["FirstName"]  @Session["LastName"]
                                    [
                                    @Session["UserRole"]
                                    ]


                                </a>
                            </b>
                        </div>
                        <span>
                            <span>
                            </span>
                            <a href="~/Home/ChangePassword">
                                <img src="~/assets/images/ChangePassword.png" title="Change Password" width="16" height="16" />
                            </a>
                            <a href="~/Home/Logout/" class="view-main-site">Log off</a>

                        </span><ins></ins>
                    </div>
                </form>
            </section>


            @if (Session["IsNoUser"] != null)
            {
                <script type="text/javascript">
                        setTimeout(function () {
                            window.location.href = "@Url.Action("Index","Home")";
                        });

                </script>
            }


            <!-- /.Top Menu -->


            <nav class="nav-horizontal">
                <div class="container">



                    <ul class="menu">

                        <li>
                            <a href="#" onclick="window.location.href='@Url.Action("Dashboard","Home")'"><i class="ico fa fa-dashboard"></i><span>Dashboard</span></a>
                        </li>
                       
                    </ul>
                    <!-- /.menu -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.Top Menu -->
            <!-- /.Top Menu -->

        </header>
        <!-- /.fixed-header -->
        @RenderBody()
        <div class="footer">A Product of <a style="color:blue;" target="_blank" href="#">EGPAF</a> | Version 1.0.0</div>


    </div>
    <!--/#wrapper -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/script/html5shiv.min.js"></script>
        <script src="assets/script/respond.min.js"></script>
    <![endif]-->
    <!--
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    @Scripts.Render("~/bundles/myscripts")
    @RenderSection("scripts", required: false)
    @RenderSection("angular", required: false)
    @RenderSection("validation", required: false)
    @RenderSection("datepicker_js", required: false)

    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("input[type=number]").first().focus();
            $("input[type=password]").first().focus();
            $("input[type=text]").first().focus();
        });



        // reset modal if it isn't visible
        if (!($('.modal.in').length)) {

            $('.modal-dialog').css('top', '12%');
            $('.modal-dialog').css('left', '10%');


        }

        $("input[type=text]").attr('autocomplete', 'off');
        $("input[type=number]").attr('autocomplete', 'off');

    </script>


</body>

</html>
