﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Fail";
   
}

<div id="wrapper">
    <div class="main-content container">
        <div class="text-success">@ViewBag.SuccessMessage</div>
        <div class="error">@ViewBag.ErrorMessage</div>

        <div class="tab-content">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">

                    <hgroup class="title">
                        <h2 class="error">
                            EGPAF Patient Management System
                        </h2>
                        @if (@Model != null)
                        {

                            <h6 class="error">@Model.Exception</h6>
                        }
                        else
                        {
                            <h6>
                                Oops! Server Returned a 404 (Page Not Found)!
                                <br />
                                In English it means the Page, Address, URL you are looking for has moved without leaving a forwarding
                                address :(! We have reported this to the System Developers.
                            </h6>
                        }
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>


