﻿@model Patient_Management_Project.Models.ViewUser


@{
    ViewBag.Title = "ManageUser";

}

<div id="wrapper">
    <div class="main-content container">

        <div class="row small-spacing">
            <div class="col-xs-12">
                <div class="box-content card white">

                    <h4 class="box-title" style="font-weight:600;line-height:16px;font-size:16px">Users</h4>
                    <br />
                    <p>

                        <button class="btn btn-primary" id="btnNewUser"> New User </button>

                    </p>


                    <div class="card-content">

                        <div class="text-success">@ViewBag.SuccessMessage</div>
                        <div class="error">@ViewBag.ErrorMessage</div>

                        <div class="box-title">

                            <div class="table-responsive">
                                <div id="printbar" style="float:right"></div>
                                <br /> <br />
                                <table class="table table-striped" id="userList">

                                    <thead>
                                        <tr class="box-title">
                                            <th>#</th>
                                            <th>USERNAME</th>
                                            <th>NAME</th>
                                            <th>USER ROLE</th>
                                            <th>DATE CREATED</th>
                                            <th>ACTIVE</th>
                                            <th>ACTION</th>

                                        </tr>
                                    </thead>

                                    <tbody class="box-title2">

                                        @if (ViewBag.Users == null)
                                        {
                                            <tr class="box-title2"> <td colspan="3"> No users found </td> </tr>
                                        }

                                        else
                                        {
                                            int count = 1;
                                            foreach (var item in ViewBag.Users)
                                            {
                                                <tr class="box-title2">
                                                    <td>@count</td>
                                                    <td>@item.Username</td>
                                                    <td>@item.FirstName @item.LastName</td>
                                                    <td>@item.UserRole</td>
                                                    <td>@item.DateCreated</td>
                                                    <td>@item.Active</td>



                                                    <td>
                                                        <a href="#" onclick="return getbyID(@item.UserID)">Modify</a> |

                                                        @if (item.Active == false)
                                                        {
                                                            <a href="#" onclick="displayConfirmActivate(@item.UserID)">Activate |</a>
                                                        }

                                                        else
                                                        {
                                                            <a href="#" onclick="displayConfirmDeactivate(@item.UserID)">Deactivate |</a>
                                                        }


                                                        <a href="#" onclick="return getbyIDD(@item.UserID)">Reset Password</a> |


                                                        <a href="#" onclick="displayConfirm(@item.UserID)">Delete</a>


                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Create Modal-->
<div class="modal fade draggable-modal" id="newUser" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("NewUser", "User"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name", @maxlength = "50", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", @maxlength = "50", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address", @maxlength = "50", @type = "email", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => m.UserRole, Common.GetSystemRole(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.InitialPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.InitialPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.InitialPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div style="margin-left:17%"><input type="submit" value="Create" class="frm-submit" /></div>



                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modify Modal-->
<div class="modal fade draggable-modal" id="modifyUser" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modify User Profile</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ModifyUser", "User"))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.UserID)
                    @Html.HiddenFor(model => model.Username)

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address", @maxlength = "50", @type = "email", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.UserRole, Common.GetSystemRole(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                    <div style="margin-left:17%"><input type="submit" value="Save" class="frm-submit" /></div>



                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Reset Password Modal-->
<div class="modal fade draggable-modal" id="ResetPassword" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset User Password</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ResetPassword", "User"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        @Html.HiddenFor(model => model.UserID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", @maxlength = "50", @required = "required", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.InitialPassword, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.InitialPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.InitialPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div style="margin-left:17%"><input type="submit" value="Submit" class="frm-submit" /></div>



                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmDelete" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">

                <span>Confirm deleting user from the system?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedUserID" class="form-control" id="SelectedUserID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("DeleteUser","User")' +'?id='+$('#SelectedUserID').val()">Delete</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Deactivate Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmDeactivate" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-success">@ViewBag.SuccessMessage</div>
            <div class="error">@ViewBag.ErrorMessage</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Deactivate</h4>
            </div>
            <div class="modal-body">

                <span>Confirm deactivating the User?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedUserID" class="form-control" id="SelectedUserID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("DeactivateUser","User")' +'?id='+$('#SelectedUserID').val()">Deactivate</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Activate Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmActivate" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-success">@ViewBag.SuccessMessage</div>
            <div class="error">@ViewBag.ErrorMessage</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Activate Profile</h4>
            </div>
            <div class="modal-body">

                <span>Confirm Activating the User?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedUserID" class="form-control" id="SelectedUserID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("ActivateUser","User")' +'?id='+$('#SelectedUserID').val()">Activate</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $("label[class='control-label col-md-2']").prop("id", "required");

        var table = $('#userList').DataTable({
        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                titleAttr: 'Copy',
                text: '<button style="bolder:b">Copy</button>',
                      
            },
            {
                extend: 'excelHtml5',
                titleAttr: 'Excel',
                text: '<button>Excel</button>',
            },
            {
                extend: 'csvHtml5',
                titleAttr: 'CSV',
                text: '<button>CSV</button>',
            },
            {
                extend: 'pdfHtml5',
                titleAttr: 'PDF',
                text: '<button>PDF</button>',
            },
            {
                extend: 'print',
                titleAttr: 'Print',
                text: '<button>Print</button>',
            }

        ]
    });

    table.buttons().container().appendTo($('#printbar'));

        });

    $('#btnNewUser').click(function () {

        //Clear text fields

                $("select[name=UserRole]").val("");
                $("input[name=FirstName]").val("");
                $("input[name=LastName]").val("");
                $("input[name=UserID]").val("");
                $("input[name=EmailAddress]").val("");


            $('#newUser').modal({
                backdrop: false,
                show: true
            });

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

        });

    function getbyID(id) {

        $.ajax({

            type: "GET",
            url: "@Url.Action("GetUser","User")",
            data: ({

                        id: id
             }),

            contentType: "application/json;charset=UTF-8",
            dataType: "json",

            success: function (result) {


                $("select[name=UserRole]").val(result.UserRole);
                $("input[name=FirstName]").val(result.FirstName);
                $("input[name=LastName]").val(result.LastName);
                $("input[name=UserID]").val(result.UserID);
                $("input[name=EmailAddress]").val(result.EmailAddress);


            $('#modifyUser').modal({
                backdrop: false,
                show: true
            });

        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
    return false;
}


    function getbyIDD(id) {

        $.ajax({

            type: "GET",
            url: "@Url.Action("GetUser","User")",
            data: ({

                        id: id
             }),

            contentType: "application/json;charset=UTF-8",
            dataType: "json",

            success: function (result) {

                $("input[name=UserID]").val(result.UserID);
                $("input[name=Username").val(result.Username);

            $('#ResetPassword').modal({
                backdrop: false,
                show: true
            });

        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
    return false;
}



    function displayConfirm(id) {


        $("input[name=SelectedUserID]").val(id);
            $('#ConfirmDelete').modal({
                backdrop: false,
                show: true
            });
            }

    function displayConfirmDeactivate(id) {


        $("input[name=SelectedUserID]").val(id);
            $('#ConfirmDeactivate').modal({
                backdrop: false,
                show: true
            });
            }

    function displayConfirmActivate(id) {

        $("input[name=SelectedUserID]").val(id);
            $('#ConfirmActivate').modal({
                backdrop: false,
                show: true
            });
            }

    </script>
}
