﻿@model Patient_Management_Project.Models.ViewChangePassword

@{
    ViewBag.Title = "Change Password";

}


@using (Html.BeginForm("ChangePassword", "Home"))
{
    @Html.AntiForgeryToken()


    <div id="wrapper">
        <div class="main-content container">
            <div class="row small-spacing">
                <div class="col-xs-12">
                    <div class="box-content card white">
                        <h4 class="box-title" style="font-weight:600;line-height:16px;font-size:16px">Change Password</h4>

                        <!-- /.box-title -->
                        <div class="text-success">@ViewBag.SuccessMessage</div>
                        <div class="text-warning">@ViewBag.WarningMessage</div>
                        <div class="error">@ViewBag.ErrorMessage</div>
                        <div class="error">@ViewBag.Unauth</div>
                        <div class="card-content">


                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentPassword, "Current Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentPassword, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentPassword, "Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        @if (ViewBag.Unauth == null)
                                        {
                                            <input type="submit" value="Change Password" class="frm-submit" />

                                        }
                                        else
                                        {
                                            <input type="submit" value="Change Password" disabled="disabled" class="frm-submit" />
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts{
    <script>
        $(document).ready(function () {

            $("label[class='control-label col-md-2']").prop("id", "required");

        });
        </script>
    
}

