﻿@model Patient_Management_Project.Models.ViewPatient

@{

    ViewBag.Title = "Dashboard";

}

<div id="wrapper">
    <div class="main-content container">
        <div class="row small-spacing">

            <div class="col-xs-12">
                <div class="box-content">
                    <div class="main-container">
                        <div class="dashboard-wrapper">

                            <div>
                                <h5 class="heading"><i class="ico fa fa-dashboard"></i>&nbsp; Dashboard</h5>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-vcenter">
                                    <tbody>
                                        <tr>
                                            <td class="font-w600">User Role</td>
                                            <td class="text-right"><a class="font-w600">@Session["UserRole"]</a></td>

                                            <td class="font-w600">Last Login</td>
                                            <td class="text-right"><a class="font-w600">@Session["LastLogin"]</a></td>

                                            <td class="font-w600">Password Expiry Date</td>
                                            <td class="text-right"><a class="font-w600">@Session["PasswordExpiryDate"]</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br />

                            <div class="table-responsive">
                                <table class="table table-striped table-vcenter">
                                    <tr>
                                        <th>


                                            <div>
                                                <a href="#" class="MenuBarItemSubmenu" id="btnNewPatient">
                                                    <img src="~/assets/images/icon-extras.png" alt="New Patient" /><br />Register Patient
                                                </a>
                                            </div>

                                            <div>
                                                <a href="~/Patient/ManagePatient/" class="MenuBarItemSubmenu">
                                                    <img src="~/assets/images/icon-extras.png" alt="Manage Patients" /><br />Registered Patients
                                                </a>
                                            </div>

                                            <div>
                                                <a href="~/User/ManageUser/" class="MenuBarItemSubmenu">
                                                    <img src="~/assets/images/icon-extras.png" alt="Manage Users" /><br />System Users
                                                </a>
                                            </div>


                                        </th>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>


<!-- Create Modal-->
<div class="modal fade draggable-modal" id="newPatient" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Patient</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("NewPatient", "Patient", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient First Name", @maxlength = "6", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient Last Name", @maxlength = "50", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PatientIDNumber, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PatientIDNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ID Number", @maxlength = "50", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.PatientIDNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PatientIDType, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => m.PatientIDType, Common.GetIDTypes(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.PatientIDType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => m.Gender, Common.GetGender(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => m.Occupation, Common.GetOccupationList(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CurrentAddress, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.CurrentAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="margin-left:17%"><input type="submit" value="Register" class="frm-submit" /></div>



                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>

    textarea {
        width: 250px;
        height: 60px;
    }
</style>

@section scripts{
    <script>

        $('#btnNewPatient').click(function () {

            $('#newPatient').modal({
                backdrop: false,
                show: true
            });

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

        });


    </script>
}