﻿@model Patient_Management_Project.Models.ViewUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <div id="single-wrapper">
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="frm-single">
                <div class="inside">
                    <div class="title">
                        <img src="~/assets/images/cliniclogo.png" alt="" style="width: 30%; height: 10%" /> <br>
                        <strong>EGPAF</strong> <br>Patient Management System
                    </div>

                    <div class="frm-title">Login</div>
                    <div class="text-success">@ViewBag.SuccessMessage</div>
                    <div class="error">@ViewBag.ErrorMessage</div>
                    <div class="text-success">@Session["SuccessMessage"]</div>
                    <div class="error">@Session["ErrorMessage"]</div>

                    <div class="form-horizontal">

                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="frm-input">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "frm-inp", @placeholder = "Username", @autofocus = "autofocus", @type = "text", @autocomplete = "off" } })
                            <i class="fa fa-user frm-ico"></i>
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                        </div>

                        <div class="frm-input">

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "frm-inp", @type = "password", @placeholder = "Password" } })
                            <i class="fa fa-lock frm-ico"></i> <br />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>

                        <button type="submit" class="frm-submit">Login<i class="fa fa-arrow-circle-right"></i></button>

                        <div>A Product of <a style="color:blue;" target="_blank" href="#">EGPAF</a> | Version 1.0.0</div>

                    </div>
                </div>

            </div>
        }
        <p style="font-weight:bolder;color:red; margin-left:40%;margin-top:-1%">

            New user? <button class="btn btn-primary" id="btnNewUser"> Register here </button>

        </p>
    </div>


<!-- Create Modal-->
<div class="modal fade draggable-modal" id="newUser" role="dialog" style="z-index:1100;margin-left:20%">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New User Registration</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UserRegister", "User"))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address", @maxlength = "50", @type = "email", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.UserRole, Common.GetSystemRole(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InitialPassword, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.InitialPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.InitialPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "password", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div style="margin-left:17%"><input type="submit" value="Register" class="frm-submit" /></div>


                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $('#btnNewUser').click(function () {

            //Clear text fields

            $("select[name=UserRole]").val("");
            $("input[name=FirstName]").val("");
            $("input[name=LastName]").val("");
            $("input[name=UserID]").val("");
            $("input[name=EmailAddress]").val("");


            $('#newUser').modal({
                backdrop: false,
                show: true
            });

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

        });
    </script>
}
