﻿@model Patient_Management_Project.Models.ViewMedicalVisit

@{
    ViewBag.Title = "CreateMedicalRecord";

}

   

@using (Html.BeginForm("CreateMedicalRecord", "Patient"))
{
    @Html.AntiForgeryToken()


    <div id="wrapper">
        <div class="main-content container">
            <div class="row small-spacing">
                <div class="col-xs-12">
                    <div class="box-content card white">
                        <h4 class="box-title" style="font-weight:600;line-height:16px;font-size:16px">Medical Visit for @Session["Patient"]</h4>

                        <!-- /.box-title -->
                        <div class="text-success">@Session["VisitAdded"]</div>
                        <div class="text-warning">@ViewBag.WarningMessage</div>
                        <div class="error">@Session["VisitAddingError"]</div>

                        <div class="card-content">


                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @*<div class="form-group">
                                @Html.LabelFor(model => model.PatientAutoID, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                <div class="col-md-5">
                                    @Html.DropDownListFor(m => m.PatientAutoID, ViewBag.Patients as SelectList, "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.PatientAutoID, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.VisitDate, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.VisitDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @min = "1", @max = "100", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @min = "2", @max = "200", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Temperature, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control", @type = "number", @step = "0.01", @min = "2", @max = "50", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DiagnosisCodeID, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(m => m.DiagnosisCodeID, ViewBag.DiagnosisCodes as SelectList, "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.DiagnosisCodeID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div style="margin-left:17%"><input type="submit" value="Save" class="frm-submit" /></div>

                            </div>

                            <p style="color:green;font-weight:bold">
                                <a href="~/Patient/ManagePatient">
                                    Back to Patients List<img src="~/assets/images/back-icon.png" alt="Patients List" style="width:1%" />
                                </a>

                            </p>

                        </div>

                    </div>

                    
                </div>
            </div>
        </div>
        

    </div>
}