﻿@model Patient_Management_Project.Models.ViewPatient


@{
    ViewBag.Title = "Patient";

}

<div id="wrapper">
    <div class="main-content container">

        <div class="row small-spacing">
            <div class="col-xs-12">
                <div class="box-content card white">

                    <h4 class="box-title" style="font-weight:600;line-height:16px;font-size:16px">Registered Patients</h4>
                    <br />
                    <p>

                        <button class="btn btn-primary" id="btnNewPatient"> New Patient </button>

                    </p>


                    <div class="card-content">

                        <div class="text-success">@ViewBag.SuccessMessage</div>
                        <div class="error">@ViewBag.ErrorMessage</div>

                        <div class="box-title">

                            <div class="table-responsive">

                                <div id="printbar" style="float:right"></div>
                                <br /> <br />

                                <table class="table table-striped" id="patientList">

                                    <thead>
                                        <tr class="box-title">
                                            <th>#</th>
                                            <th>NAME</th>
                                            <th>GENDER</th>
                                            <th>ID NO.</th>
                                            <th>ID TYPE</th>
                                            <th>OCCUPATION</th>
                                            <th>ADDRESS</th>
                                            <th>ACTIVE</th>
                                            <th>ACTION</th>

                                        </tr>
                                    </thead>

                                    <tbody class="box-title2">

                                        @if (ViewBag.Patients == null)
                                        {
                                            <tr class="box-title2"> <td colspan="3"> No record found </td> </tr>
                                        }

                                        else
                                        {
                                            int count = 1;
                                            foreach (var item in ViewBag.Patients)
                                            {
                                                <tr class="box-title2">
                                                    <td>@count</td>
                                                    <td id="td-limit"><abbr title="@item.FirstName  @item.LastName">@item.FirstName  @item.LastName</abbr></td>
                                                    <td>@item.Gender</td>
                                                    <td>@item.PatientIDNumber</td>
                                                    <td>@item.PatientIDType</td>
                                                    <td id="td-limit"><abbr title="@item.Occupation">@item.Occupation</abbr></td>
                                                    <td id="td-limit"><abbr title="@item.CurrentAddress">@item.CurrentAddress</abbr></td>
                                                    <td>@item.Active</td>

                                                    <td>



                                                        <a href="~/Patient/ViewMedicalRecord?id=@Helpers.Encrypt(Convert.ToString(item.PatientAutoID))">
                                                            Visit History <img src="~/assets/images/icon-view-main-site.png" alt="" />
                                                        </a>

                                                        <a href="#" onclick="return getbyID(@item.PatientAutoID)"> | Modify | </a>

                                                        @if (item.Active == false)
                                                        {
                                                            <a href="#" onclick="displayConfirmActivate(@item.PatientAutoID)">Activate |</a>
                                                        }

                                                        else
                                                        {
                                                            <a href="~/Patient/CreateMedicalRecord?id=@Helpers.Encrypt(Convert.ToString(item.PatientAutoID))">
                                                                New Visit <img src="~/assets/images/icon-view-main-site.png" alt="" /> |
                                                            </a>

                                                            <a href="#" onclick="displayConfirmDeactivate(@item.PatientAutoID)">Deactivate |</a>
                                                        }

                                                        <a href="#" onclick="displayConfirm(@item.PatientAutoID)">Delete</a>

                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Create Modal-->
<div class="modal fade draggable-modal" id="newPatient" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Patient</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("NewPatient", "Patient", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient First Name", @maxlength = "6", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient Last Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PatientIDNumber, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PatientIDNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ID Number", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.PatientIDNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PatientIDType, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.PatientIDType, Common.GetIDTypes(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.PatientIDType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Gender, Common.GetGender(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Occupation, Common.GetOccupationList(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentAddress, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CurrentAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @maxlength = "200" } })
                            @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div style="margin-left:17%"><input type="submit" value="Register" class="frm-submit" /></div>



                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modify Modal-->
<div class="modal fade draggable-modal" id="modifyPatient" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modify Patient Information</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ModifyPatient", "Patient"))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.PatientAutoID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient First Name", @maxlength = "6", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Patient Last Name", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PatientIDNumber, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PatientIDNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter ID Number", @maxlength = "50", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.PatientIDNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PatientIDType, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.PatientIDType, Common.GetIDTypes(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.PatientIDType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Gender, Common.GetGender(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(m => m.Occupation, Common.GetOccupationList(), "Please Select", htmlAttributes: new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required",@onchange="TDate()" } })
                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentAddress, htmlAttributes: new { @class = "control-label col-md-2", @id = "required" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.CurrentAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @maxlength = "200" } })
                            @Html.ValidationMessageFor(model => model.CurrentAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div style="margin-left:17%"><input type="submit" value="Save" class="frm-submit" /></div>

                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Confirm Delete Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmDelete" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">

                <span>Confirm deleting patient from the system?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedPatientID" class="form-control" id="SelectedPatientID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("DeletePatient","Patient")' +'?id='+$('#SelectedPatientID').val()">Delete</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Deactivate Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmDeactivate" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-success">@ViewBag.SuccessMessage</div>
            <div class="error">@ViewBag.ErrorMessage</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Deactivate</h4>
            </div>
            <div class="modal-body">

                <span>Confirm deactivating the patient?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedPatientID" class="form-control" id="SelectedPatientID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("DeactivatePatient","Patient")' +'?id='+$('#SelectedPatientID').val()">Deactivate</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Activate Modal Dialog-->
<div class="modal fade draggable-modal" id="ConfirmActivate" role="dialog" style="z-index:1100">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="text-success">@ViewBag.SuccessMessage</div>
            <div class="error">@ViewBag.ErrorMessage</div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Activation</h4>
            </div>
            <div class="modal-body">

                <span>Confirm Activating the patient?</span> <br />

                <div class="form-group" hidden>
                    <div class="col-sm-7">
                        <input type="text" name="SelectedPatientID" class="form-control" id="SelectedPatientID" value="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <a class="btn btn-primary" href="#" onclick="window.location.href='@Url.Action("ActivatePatient","Patient")' +'?id='+$('#SelectedPatientID').val()">Activate</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<style>

    .modal {
        position: relative;
    }

    .modal-dialog {
        position: fixed;
        width: 70%;
        margin: 0;
        padding: 10px;
    }
    textarea {
        width: 257px;
        height: 60px;
    }
</style>


@section scripts{
    <script>
        $(document).ready(function () {

         var table = $('#patientList').DataTable({
        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                titleAttr: 'Copy',
                text: '<button style="bolder:b">Copy</button>',

            },
            {
                extend: 'excelHtml5',
                titleAttr: 'Excel',
                text: '<button>Excel</button>',
            },
            {
                extend: 'csvHtml5',
                titleAttr: 'CSV',
                text: '<button>CSV</button>',
            },
            {
                extend: 'pdfHtml5',
                titleAttr: 'PDF',
                text: '<button>PDF</button>',
            },
            {
                extend: 'print',
                titleAttr: 'Print',
                text: '<button>Print</button>',
            }

        ]
    });

    table.buttons().container().appendTo($('#printbar'));



        });

    $('#btnNewPatient').click(function () {

        //Clear text fields

                $("input[name=PatientAutoID]").val("");
                $("input[name=FirstName]").val("");
                $("input[name=LastName]").val("");
                $("input[name=CurrentAddress]").val("");
                $("input[name=PatientIDNumber]").val("");
                $("select[name=PatientIDType]").val("");
                $("select[name=Gender]").val("");
                $("select[name=Occupation]").val("");

                
            $('#newPatient').modal({
                backdrop: false,
                show: true
            });

            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

        });

    function getbyID(id) {

        $.ajax({

            type: "GET",
            url: "@Url.Action("GetPatient","Patient")",
            data: ({

                        id: id
             }),

            contentType: "application/json;charset=UTF-8",
            dataType: "json",

            success: function (result) {

                $("input[name=PatientAutoID]").val(result.PatientAutoID);
                $("input[name=FirstName]").val(result.FirstName);
                $("input[name=LastName]").val(result.LastName);
                $("textarea[name=CurrentAddress]").val(result.CurrentAddress);
                $("input[name=PatientIDNumber]").val(result.PatientIDNumber);
                $("select[name=PatientIDType]").val(result.PatientIDType);
                $("select[name=Gender]").val(result.Gender);
                $("select[name=Occupation]").val(result.Occupation);

            $('#modifyPatient').modal({
                backdrop: false,
                show: true
            });

        },
        error: function (errormessage) {
            alert(errormessage.responseText);
        }
    });
    return false;
}


    function displayConfirm(id) {


        $("input[name=SelectedPatientID]").val(id);
            $('#ConfirmDelete').modal({
                backdrop: false,
                show: true
            });
            }

    function displayConfirmDeactivate(id) {

        $("input[name=SelectedPatientID]").val(id);
            $('#ConfirmDeactivate').modal({
                backdrop: false,
                show: true
            });
            }

    function displayConfirmActivate(id) {

        $("input[name=SelectedPatientID]").val(id);
            $('#ConfirmActivate').modal({
                backdrop: false,
                show: true
            });
            }


    </script>
}
