﻿@{
    ViewBag.Title = "Patient";

}

<div id="wrapper">
    <div class="main-content container">

        <div class="row small-spacing">
            <div class="col-xs-12">
                <div class="box-content card white">

                    <h4 class="box-title" style="font-weight:600;line-height:16px;font-size:16px">Medical History For @Session["Patient"]</h4>
                    <br />

                    <div class="card-content">

                        <div class="text-success">@ViewBag.SuccessMessage</div>
                        <div class="error">@ViewBag.ErrorMessage</div>

                        <div class="box-title">

                            <div class="table-responsive">

                                <div id="printbar" style="float:right"></div>
                                <br /> <br />

                                <table class="table table-striped" id="patientList">

                                    <thead>
                                        <tr class="box-title">
                                            <th>#</th>
                                            <th>VISIT DATE</th>
                                            <th>WEIGHT</th>
                                            <th>HEIGHT</th>
                                            <th>TEMPERATURE</th>
                                            <th>DIAGNOSIS</th>
                                        </tr>
                                    </thead>

                                    <tbody class="box-title2">

                                        @if (ViewBag.PatientMedicalRecords == null)
                                        {
                                            <tr class="box-title2"> <td colspan="3"> No record found </td> </tr>
                                        }

                                        else
                                        {
                                            int count = 1;
                                            foreach (var item in ViewBag.PatientMedicalRecords)
                                            {
                                                <tr class="box-title2">
                                                    <td>@count</td>
                                                    <td id="td-limit">@item.VisitDate.ToString("dd-MM-yyyy")</td>
                                                    <td>@item.Weight</td>
                                                    <td>@item.Height</td>
                                                    <td>@item.Temperature</td>
                                                    <td id="td-limit"><abbr title="@item.DiagnosisName">@item.DiagnosisName</abbr></td>

                                                </tr>
                                                count++;
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <p style="color:green;font-weight:bold">
                                <a href="~/Patient/ManagePatient">
                                    Back to Patients List<img src="~/assets/images/back-icon.png" alt="Patients List" style="width:1%" />
                                </a>

                            </p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            var table = $('#patientList').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        titleAttr: 'Copy',
                        text: '<button style="bolder:b">Copy</button>',

                    },
                    {
                        extend: 'excelHtml5',
                        titleAttr: 'Excel',
                        text: '<button>Excel</button>',
                    },
                    {
                        extend: 'csvHtml5',
                        titleAttr: 'CSV',
                        text: '<button>CSV</button>',
                    },
                    {
                        extend: 'pdfHtml5',
                        titleAttr: 'PDF',
                        text: '<button>PDF</button>',
                    },
                    {
                        extend: 'print',
                        titleAttr: 'Print',
                        text: '<button>Print</button>',
                    }

                ]
            });

            table.buttons().container().appendTo($('#printbar'));



        });

    </script>
}
